<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>Chainit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
   >
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <header>
      <div class="logo"><span class="accent">CS4800</span>NopainNogian</div>
      <ul class="site menu">
        <li class="active"><a href="/">Table View</a></li>
        <li class="active"><a href="/team">Team Members</a></li>
      </ul>
    </header>
    <main>
      <section class="prices">
        <div class="detail">
          <div class="group-name">
            <img class="group-logo" src="../static/logo.png" alt="Logo">
            Facial Expression Detection Project
          </div>
        </div>

           <div class="team">
        <div class="team-container">
          <h2 class="title">
           Meet Our Team Members :)
          </h2>
          <div class="memeber-list">
            <img class="member-image1" src="../static/jarisse.jpeg" alt="original image for cropping"><p>Jarisse Escubido</p>
          </div>
          <div class="memeber-list">
            <img class="member-image2" src="../static/dy.jpeg" alt="original image for cropping"><p>Dayoung Kim</p>
          </div>
          <div class="memeber-list">
            <img class="member-image3" src="../static/moller.jpeg" alt="original image for cropping"><p>Moller Myint</p>
          </div>
          <div class="memeber-list">
            <img class="member-image4" src="../static/vani.jpeg" alt="original image for cropping"><p>Vanisa Suadprathon</p>
          </div>
          <div class="memeber-list">
            <img class="member-image5" src="../static/gian.jpeg" alt="original image for cropping"><p>Gian De Jesus</p>
          </div>
        </div>
     </div>
</section>
</main>
</body>
